@model List<E_Commerce.Core.Model.Entity.Product>
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Index";
    var Islogin = (bool)ViewBag.IsLogin;
}

@{
    foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@item.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"> <b>  @item.Price.ToString("$ ##,##") </b></p>

                    <a href="/product/@Regex.Replace(item.Name.ToLower(), @"[^a-z0-9]", "-")/@item.ID" class="btn btn-primary">Details</a>
                    @{if (Islogin)
                        {
                            <a href="#" data-pID="@item.ID" class="btn btn-info addBasket">Add To Cart</a>
                        }
                    }
                </div>
            </div>
        </div>
    }
}
<div id="jqueryModal" title="Thanks">
    Your product has been added to the cart
</div>
@section script{
    <script>
        $(document).ready(function () {
            $("#jqueryModal").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                }
            });

            $(".addBasket").on("click", function () {
                var pid = $(this).attr("data-pID");
                $.post("Basket/AddItemToCart?productID=" + pid+"&quantity=1", function (data) {
                    $("#jqueryModal").dialog("open");

                })
                return false;
            });
        });
    </script>
}