<!doctype html>
<html lang="en">
@Html.Partial("_Head")
<body>

    @{
        bool isLoggedIn = ViewBag.IsLogin != null && (bool)ViewBag.IsLogin;
    }

    @if (isLoggedIn)
    {
        @Html.Partial("_HeaderLogin")
    }
    else
    {
        @Html.Partial("_Header")
    }
    @RenderBody()


    @Html.Partial("_Footer")

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- Jquery Modell -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</body>
</html>
