
@model E_Commerce.Core.Model.Entity.Order
@{
    ViewBag.Title = "Chekout";
}

<h1 class="text-center mb-4">Ödeme Detayları</h1>
<hr />

    <!--------------- blog-tittle-section---------------->
    <section class="blog about-blog">
        <div class="container">
            <div class="blog-bradcrum">
                <span><a href="index.html">Home</a></span>
                <span class="devider">/</span>
                <span><a href="#">Checkout</a></span>
            </div>
            <div class="blog-heading about-heading">
                <h1 class="heading">Checkout</h1>
            </div>
        </div>
    </section>
    <!--------------- blog-tittle-section-end---------------->
    <!--------------- checkout-section---------------->
    <section class="checkout product footer-padding">
        <div class="container">
            <div class="checkout-section">
                <div class="row gy-5">

                    <div class="col-lg-12">
                        <div class="checkout-wrapper">
                            <a href="#" class="shop-btn">Enter Coupon Code</a>
                            <div class="account-section billing-section">
                                <h5 class="wrapper-heading">Order Summary</h5>
                                <div class="order-summery">
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">PRODUCT</h5>
                                        <h5 class="wrapper-heading">TOTAL</h5>
                                    </div>
                                    <hr>
                                    <div class="subtotal product-total">
                                        <ul class="product-list">
                                            @{
                                                foreach (var item in Model.OrderProducts)
                                                {
                                                    decimal totalPrice = item.Quantity * item.Product.Price;
                                                    <li>
                                                        <div class="product-info">
                                                            <h5 class="wrapper-heading"> @item.Product.Name</h5>
                                                            <p class="paragraph"> @item.Quantity  *  @item.Product.TotalPrice</p>
                                                        </div>
                                                        <div class="price">
                                                            <h5 class="wrapper-heading">🪙 @totalPrice</h5>
                                                        </div>
                                                    </li>
                                                }
                                            }

                                        </ul>
                                    </div>
                                    <hr>
                              
                                    <div class="subtotal product-total">
                                        <ul class="product-list">
                                            <li>
                                                <div class="product-info">
                                                    <p class="paragraph">SHIPPING</p>
                                                    <h5 class="wrapper-heading">Free Shipping</h5>

                                                </div>
                                                <div class="price">
                                                    <h5 class="wrapper-heading">+🪙0</h5>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">Total</h5>
                                        <h5 class="wrapper-heading price">🪙 @Model.TotalProductPrice</h5>
                                    </div>
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">Tax</h5>
                                        <h5 class="wrapper-heading price">🪙 @Model.TotalTaxPrice </h5>
                                    </div>
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">Dicount</h5>
                                        <h5 class="wrapper-heading price">🪙 @Model.TotalDiscount</h5>
                                    </div>
                                    <div class="subtotal total">
                                        <h5 class="wrapper-heading">TOTAL PRİCE</h5>
                                        <h5 class="wrapper-heading price">🪙 @Model.TotalPrice</h5>
                                    </div>
                                    <div class="subtotal payment-type">
                                        <div class="checkbox-item">
                                            <input type="radio" id="paymentBank" name="paymentType" value="Bank">
                                            <div class="bank">
                                                <h5 class="wrapper-heading">Direct Bank Transfer</h5>
                                                <p class="paragraph">
                                                    Make your payment directly into our bank account.
                                                    Please use
                                                    <span class="inner-text">
                                                        your Order ID as the payment reference.
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="checkbox-item">
                                            <input type="radio" id="paymentCash" name="paymentType" value="Cash">
                                            <div class="cash">
                                                <h5 class="wrapper-heading">Cash on Delivery</h5>
                                            </div>
                                        </div>
                                        <div class="checkbox-item">
                                            <input type="radio" id="paymentCard" name="paymentType" value="Card">
                                            <div class="credit">
                                                <h5 class="wrapper-heading">Credit/Debit Cards or Paypal</h5>
                                            </div>
                                        </div>
                                        <div class="checkbox-item">
                                            <input type="radio" id="paymentCoin" name="paymentType" value="Coin">
                                            <div class="credit">
                                                <h5 class="wrapper-heading">Recycle Coin</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="shop-btn" id="placeOrderBtn">Place Order Now</a>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------- checkout-section-end---------------->

    <script>
    // Radio butonlarından herhangi biri seçildiğinde tetiklenecek olan fonksiyon
    function updateLink() {
        const placeOrderBtn = document.getElementById('placeOrderBtn');
        const selectedValue = document.querySelector('input[type="radio"][name="paymentType"]:checked');
        const idValue = '@Model.ID';

        if (selectedValue) {
            placeOrderBtn.href = `/pay/${selectedValue.value.toLowerCase()}?id=${idValue}`;
        } else {
            placeOrderBtn.href = '#'; // Varsayılan bağlantı
        }
    }

    // Radio butonlarından herhangi biri değiştiğinde veya sayfa yüklendiğinde kontrol etmek için dinleyiciler ekle
    document.addEventListener('DOMContentLoaded', updateLink); // Sayfa yüklendiğinde çalışacak
    document.querySelectorAll('input[type="radio"][name="paymentType"]').forEach(function (radio) {
        radio.addEventListener('change', updateLink); // Radio butonlarından herhangi biri değiştiğinde çalışacak
    });

    </script>
