@model E_Commerce.Core.Model.Entity.Order
@{
    ViewBag.Title = "Detail";
    string cancelLink = "";
    if (Model.Status.ID != 8 && Model.Status.ID != 6 && Model.Status.ID != 7)
    {
        cancelLink = $"/Order/OrderCancel/{Model.ID}";
    }
}




    <!--------------- blog-tittle-section---------------->
    <section class="blog about-blog">
        <div class="container">
            <div class="blog-bradcrum">
                <span><a href="index.html">Home</a></span>
                <span class="devider">/</span>
                <span><a href="#">Checkout</a></span>
            </div>
            <div class="blog-heading about-heading">
                <h1 class="heading">Checkout</h1>
            </div>
        </div>
    </section>
    <!--------------- blog-tittle-section-end---------------->
    <!--------------- checkout-section---------------->
    <section class="checkout product footer-padding">
        <div class="container">
            <div class="checkout-section">
                <div class="row gy-5">

                    <div class="col-lg-12">
                        <div class="checkout-wrapper">

                            <div class="account-section billing-section">
                                <div class="card-body text-center">
                                    <h4 class="card-title mb-0">Order Information</h4>
                                    <p class="card-text">Order Number: <strong><span style="font-size: 18px;">@Model.ID</span></strong></p>
                                    <p class="card-text">Status: <span class="badge bg-primary" style="font-size: 16px;">@Model.Status.Name</span></p>
                                    @if (!string.IsNullOrEmpty(cancelLink))
                                    {
                                        if (Model.StatusID != 17)
                                        {
                                            <br />
                                            <a href="@cancelLink" class="btn btn-danger btn-lg">Request Cancel</a>
                                        }
                                    }
                                    else
                                    {
                                        <p class="card-text"><span class="badge bg-info">You cannot cancel this order</span></p>
                                    }
                                </div>
                                <h5 class="wrapper-heading">Order Summary</h5>
                                <div class="order-summery">
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">PRODUCT</h5>
                                        <h5 class="wrapper-heading">TOTAL</h5>
                                    </div>
                                    <hr>
                                    <div class="subtotal product-total">
                                        <ul class="product-list">
                                            @{
                                                foreach (var item in Model.OrderProducts)
                                                {
                                                    decimal totalPrice = item.Quantity * item.Product.Price;
                                                    <li>
                                                        <div class="product-info">
                                                            <h5 class="wrapper-heading"> @item.Product.Name</h5>
                                                            <p class="paragraph"> @item.Quantity  *  @item.Product.TotalPrice</p>
                                                        </div>
                                                        <div class="price">
                                                            <h5 class="wrapper-heading">🪙 @totalPrice</h5>
                                                        </div>
                                                    </li>
                                                }
                                            }

                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">SUBTOTAL</h5>
                                        <h5 class="wrapper-heading">🪙365</h5>
                                    </div>
                                    <div class="subtotal product-total">
                                        <ul class="product-list">
                                            <li>
                                                <div class="product-info">
                                                    <p class="paragraph">SHIPPING</p>
                                                    <h5 class="wrapper-heading">Free Shipping</h5>

                                                </div>
                                                <div class="price">
                                                    <h5 class="wrapper-heading">+🪙0</h5>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">Total</h5>
                                        <h5 class="wrapper-heading price">🪙 @Model.TotalProductPrice</h5>
                                    </div>
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">Tax</h5>
                                        <h5 class="wrapper-heading price">🪙 @Model.TotalTaxPrice</h5>
                                    </div>
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">Dicount</h5>
                                        <h5 class="wrapper-heading price">🪙 @Model.TotalDiscount</h5>
                                    </div>
                                    <div class="subtotal total">
                                        <h5 class="wrapper-heading">TOTAL PRİCE</h5>
                                        <h5 class="wrapper-heading price">🪙 @Model.TotalPrice</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------- checkout-section-end---------------->
