@model IEnumerable<E_Commerce.Core.Model.Entity.Order>

@{
    ViewBag.Title = "Index";
}


<section class="user-profile footer-padding">
    <div class="container">
        <div class="user-profile-section">

            <div class="user-dashboard">

                @Html.Partial("_UserDashboardMenu")

                <!-- nav-content -->
                <div class="tab-content nav-content" id="v-pills-tabContent" style="flex: 1 0%;">
                    <div class="tab-pane fade active show" id="v-pills-ticket" role="tabpanel" aria-labelledby="v-pills-ticket-tab" tabindex="0">
                        <div class="support-ticket">

                            <div class="ticket-section">
                                <table>
                                    <tbody>
                                        <tr class="table-row table-top-row">

                                            <td class="table-wrapper">
                                                <div class="table-wrapper-center">
                                                    <h5 class="table-heading">STATUS</h5>
                                                </div>
                                            </td>
                                            <td class="table-wrapper">
                                                <div class="table-wrapper-center">
                                                    <h5 class="table-heading">Date</h5>
                                                </div>
                                            </td>
                                            <td class="table-wrapper">
                                                <div class="table-wrapper-center">
                                                    <h5 class="table-heading">TotalPrice</h5>
                                                </div>
                                            </td>
                                            <td class="table-wrapper">
                                                <div class="table-wrapper-center">
                                                    <h5 class="table-heading">Address Title</h5>
                                                </div>
                                            </td>
                                            <td class="table-wrapper">
                                                <div class="table-wrapper-center">
                                                    <h5 class="table-heading"> </h5>
                                                </div>
                                            </td>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="table-row ticket-row">
                                                <td class="table-wrapper">
                                                    <p class="ticket-info"> @Html.DisplayFor(modelItem => item.Status.Name)</p>
                                                </td>
                                                <td class="table-wrapper">
                                                    <p class="ticket-info">@Html.DisplayFor(modelItem => item.CreatedDate)</p>
                                                </td>
                                                <td class="table-wrapper">
                                                    <p class="ticket-info">🪙 @Html.DisplayFor(modelItem => item.TotalPrice)</p>
                                                </td>
                                                <td class="table-wrapper">
                                                    <p class="ticket-info"> @Html.DisplayFor(modelItem => item.UserAddress.Title)</p>
                                                </td>
                                                <td class="table-wrapper">
                                                    <p class="ticket-info">  @Html.ActionLink("Details", "Detail", new { id = item.ID })</p>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
