@model IEnumerable<E_Commerce.Core.Model.Entity.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>


<div class="card">
    <div class="card-body">
        <div id="table-default" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><button class="table-sort" data-sort="sort-name"> @Html.DisplayNameFor(model => model.Name) </button></th>
                        <th><button class="table-sort" data-sort="sort-email"> @Html.DisplayNameFor(model => model.Email)</button></th>
                        <th><button class="table-sort" data-sort="sort-wallet"> @Html.DisplayNameFor(model => model.WalletAddress)</button></th>
                        <th><button class="table-sort" data-sort="sort-isactive"> @Html.DisplayNameFor(model => model.IsActive)</button></th>
                        <th><button class="table-sort" data-sort="sort-isadmin"> @Html.DisplayNameFor(model => model.IsAdmin)</button></th>
                        <th><button class="table-sort" >Action</button></th>

                    </tr>
                </thead>
                <tbody class="table-tbody">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="sort-name">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="sort-email">@Html.DisplayFor(modelItem => item.Email)</td>
                            <td class="sort-wallet">@Html.DisplayFor(modelItem => item.WalletAddress)</td>
                            <td class="sort-isactive">@Html.DisplayFor(modelItem => item.IsActive)</td>
                            <td class="sort-isadmin">@Html.DisplayFor(modelItem => item.IsAdmin)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID } , new { @class = "btn btn-info" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
